{% macro input(name, values, type, errors) %}
    <div class="form-group {% if errors[name]|length %}has-error{% endif %}">
      <label class="control-label" for="{{name}}">{{name}}</label>
      <input type="{{type}}" name="{{name}}" value="{{values[name]}}" class="form-control" placeholder="{{name}}" class="{% if errors[name].lenght > 0 %}has-error{% endif %}">
    </div>
{% endmacro %}

{% macro textArea(name, values, errors) %}
    <div class="form-group {% if errors[name]|length %}has-error{% endif %}">
      <label class="control-label" for="{{name}}">{{name}}</label>
      <textarea name="{{name}}" class="form-control" placeholder="{{name}}" class="{% if errors[name].lenght > 0 %}has-error{% endif %}">{{values[name]}}</textarea>
    </div>
{% endmacro %}
